<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar}">

</head>
<body>
<div class="container mt-5">
    <<div class="container mt-5">
    <h1 class="text-center primary">Beginner Workout</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Start your fitness journey with our beginner workouts. They are designed to help you build a solid foundation and improve your fitness level.</p>
        </div>
    </div>

    <div class="mt-4">
        <h2 class="light">Target Muscle Groups: Chest, Triceps, Legs, Back, Biceps</h2>
    </div>

    <div class="mt-4">
        <h2>Exercises</h2>
        <ul class="list-group">
            <li class="list-group-item">Push-ups</li>
            <li class="list-group-item">Bodyweight Squats</li>
            <li class="list-group-item">Planks</li>
            <li class="list-group-item">Lunges</li>
            <li class="list-group-item">Jumping Jacks</li>
        </ul>
    </div>
</div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
