<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">

</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="container">
  <h2 class="text-center mb-4">Client Information Form</h2>

  <form th:method="POST" th:object="${client}" th:action="@{/coaches/{coachId}/client/information(coachId=${coach.id})}">
    <!-- Weight Input -->
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input type="text" class="form-control" id="weight" th:field="*{weight}" placeholder="Enter weight in pounds">
    </div>

    <!-- Height Input -->
    <div class="form-group">
      <label for="height">Height:</label>
      <input type="text" class="form-control" id="height" th:field="*{height}" placeholder="Enter height in feet and inches">
    </div>

    <!-- Target Goals Input -->
    <div class="form-group">
      <label for="targetGoals">Target Goals:</label>
      <input type="text" class="form-control" id="targetGoals" th:field="*{targetGoals}" placeholder="Enter target goals">
    </div>

    <!-- Dietary Preferences Textarea -->
    <div class="form-group">
      <label for="dietaryPreferences">Dietary Preferences:</label>
      <textarea class="form-control" id="dietaryPreferences" rows="3" th:field="*{dietaryPreferences}"  placeholder="Enter dietary preferences"></textarea>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>

</div>

  <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
