<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<nav th:replace="~{fragments/navbar}"></nav>
<body>
  <div class="container mt-5">
    <div class="card" style="background-color: #f8f9fa;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <!-- Coach Image -->
            <img th:src="${coach.imgUrl}" alt="Coach Picture" class="img-fluid rounded">
          </div>
          <div class="col-md-8">
            <!-- Coach Details -->
            <h5 class="card-title" th:text="'Username ' + ${coach.username}"></h5>
            <h5 class="card-title" th:text="'Email: ' + ${coach.email}"></h5>
            <p class="card-text">Specialty: Fitness Training</p>
            <p class="card-text">Experience: 5 years</p>
            <!-- Add more details about the coach as needed -->

            <h6 class="mt-3">Certificates:</h6>
            <ul class="list-group">
              <li class="list-group-item">Certificate 1</li>
              <li class="list-group-item">Certificate 2</li>
              <li class="list-group-item">Certificate 3</li>
              <!-- Add more certificates as needed -->
            </ul>

            <div class="mt-3">
              <a class="btn btn-info text-white h6" href="/programs">View All Programs</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <form th:method="POST" th:action="@{/coaches/coach/{coachId}/schedule(coachId=${coach.id})}" th:object="${scheduledWorkoutDTO}">
      <h2 class="mb-4 text-center text-white">Schedule Workout with Your Coach</h2>
      <div class="form-group mt-4">
        <label for="datetime">Select Date:</label>
        <input type="datetime-local" class="form-control" th:field="*{scheduledDateTime}" id="datetime" name="datetime" required>
      </div>
      <button type="submit" class="btn btn-success">Schedule Workout</button>
    </form>
  </div>

  <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
