<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

    <div class="container my-5">
        <h2 class="text-center text-white">Details</h2>
        <div th:object="${workout}" class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title text-primary" th:text="*{name}"></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark text-white">
                                <span class="font-weight-bold">Level:</span>
                                <th:block th:text="*{level}">Beginner</th:block>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <span class="font-weight-bold">Description:</span>
                                <th:block th:text="*{description}">This is a great workout for...</th:block>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="exercises card">
        <div class="card-body">
            <h5 class="card-title">Exercises</h5>
            <ul class="list-group">
                <li th:each="exercise: ${workout.exercises}" class="list-group-item bg-dark text-white">
                    <span th:text="${exercise.name}"></span>
                </li>
            </ul>
        </div>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>