<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar}">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Intermediate Workout</h1>
    <div class="card">
        <img src="/images/intermediate.jpg" class="card-img-top" alt="Intermediate Workout Image">
        <div class="card-body">
            <p class="card-text">Take your fitness to the next level with our intermediate workouts. These workouts are designed to challenge you and improve your strength and endurance.</p>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
