<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <header class="header">
        <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-8">
                <h2 class="text-white text-center">Login</h2>
                <form th:method="post" th:action="@{/users/login}" class="main-form mx-auto">
                    <div class="mb-3">
                        <label for="username" class="text-white font-weight-bold form-label">Username</label>
                        <input id="username"
                               name="username"
                               th:value="${username}"
                               type="text"
                               class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="text-white font-weight-bold form-label">Password</label>
                        <input id="password"
                               name="password"
                               type="password"
                               class="form-control">
                    </div>
                    <p th:if="${user_not_active}" class="errors alert alert-danger">
                        You account is not activated. Please activate your account first.
                    </p>
                    <p th:if="${bad_credentials}" class="errors alert alert-danger">
                        Invalid username or password
                    </p>

                    <div>
                        <div class="text-center">
                            <input type="checkbox" name="remember-me" class="text-white">
                            <span class="text-white">Remember Me</span>
                        </div>
                    </div>

                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="button-primary btn btn-info btn-lg">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
