<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="d-flex flex-column h-100">
  <div th:replace="~{fragments/navbar}">
  </div>

  <div class="container-fluid d-flex flex-grow-1 align-items-center justify-content-center">
    <div class="card-deck">
      <a th:href="@{/programs/{id}(id=*{id})}" th:each="program : ${allPrograms}" th:object="${program}" class="card border-0">
        <img th:src="*{imgUrl}" class="card-img-top program-img" alt="Workout Image">
        <div class="card-img-overlay">
          <h5 class="card-title text-center text-white text-uppercase text-info" th:text="*{name}">Full Body</h5>
        </div>
      </a>
    </div>
  </div>




  <div>
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
</body>
</html>
