<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<header th:replace="~{fragments/navbar}"></header>
<div class="container mt-5">
  <h1 class="text-center">Supplements</h1>
  <div class="card">
    <img src="supplements-image.jpg" class="card-img-top" alt="Supplements Image">
    <div class="card-body">
      <p class="card-text">Explore our range of high-quality supplements to support your fitness goals. Whether you're looking to build muscle, increase energy, or aid recovery, we have the right supplements for you.</p>
    </div>
  </div>

  <div class="mt-4">
    <h2>Popular Supplements</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="supplement1-image.jpg" class="card-img-top" alt="Supplement Image">
          <div class="card-body">
            <h5 class="card-title">Whey Protein</h5>
            <p class="card-text">A high-quality source of protein to support muscle growth and recovery.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="supplement2-image.jpg" class="card-img-top" alt="Supplement Image">
          <div class="card-body">
            <h5 class="card-title">BCAAs</h5>
            <p class="card-text">Branched-Chain Amino Acids to help reduce muscle soreness and support endurance.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="supplement3-image.jpg" class="card-img-top" alt="Supplement Image">
          <div class="card-body">
            <h5 class="card-title">Creatine</h5>
            <p class="card-text">Aids in increasing muscle strength and power for high-intensity workouts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div>
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
</body>
</html>
