<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
<!--  <style>-->
<!--    /* Custom CSS styles */-->
<!--    body {-->
<!--      background-color: #000; /* Set your desired background color */-->
<!--      padding: 20px;-->
<!--    }-->

<!--    /* Style for the cards */-->
<!--    .card {-->
<!--      margin: 20px;-->
<!--      border: 2px solid #007bff; /* Set the border color */-->
<!--    }-->

<!--    /* Style for the second card with border-color: blue */-->
<!--    .card.blue-border {-->
<!--      border-color: blue;-->
<!--    }-->

<!--    /* Style for the "Save 25%" div */-->
<!--    .save-text {-->
<!--      position: absolute;-->
<!--      top: 10px;-->
<!--      left: 50%;-->
<!--      transform: translateX(-50%);-->
<!--      background-color: #007bff; /* Set your desired background color */-->
<!--      color: black;-->
<!--      padding: 5px 10px;-->
<!--      border-radius: 5px;-->
<!--    }-->
<!--  </style>-->
</head>
<header th:replace="~{fragments/navbar}">
</header>
<body>
    <div class="row mx-auto d-flex flex-row justify-content-center my-10">
      <!-- First Card -->
      <div class="card mx-lg-3 mb-4 py-lg-3">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">Monthly</h5>
          <p class="card-text text-center">Get started today</p>
          <p class="card-text text-center font-weight-bold">Price: $9.99</p>
          <div class="text-center">
            <a class="btn btn-dark bg-transparent text-dark plan-card.month">Select Monthly Plan</a>
            <p>Billed every month. Cancel anytime.</p>
          </div>
        </div>
      </div>

      <!-- Second Card with Blue Border -->
      <div class="card mx-lg-3 mb-4 py-lg-3 plan-card-year">
        <div class="card-body">
          <div class="save-badge text-center">Save 25%</div>
          <h5 class="card-title text-center font-weight-bold">Yearly</h5>
          <p class="card-text text-blue text-center text-primary">Get 3 months for free!</p>
          <p class="card-text text-center font-weight-bold">$89.99</p>
          <div class="text-center">
            <a class="btn btn-primary">Select Yearly Plan</a>
            <p>Billed every year. Cancel anytime.</p>
          </div>
        </div>
      </div>
    </div>
  </div>




<!-- Include your Bootstrap and other JavaScript files here -->
  <div>
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
</body>
</html>
