<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<nav th:replace="~{fragments/navbar}"></nav>

<div class="container my-2">
    <h2 class="text-center text-white mb-4">Workout Details</h2>

    <div th:object="${workout}" class="card">
        <div class="card-body bg-dark text-center">
            <h5 class="card-title text-primary" th:text="*{name}"></h5>
            <div class="d-flex justify-content-center align-items-center mt-3">
                <div th:if="${hasStarted}">
<!--                    <form th:method="POST" th:action="@{/workouts/complete/{id}(id=*{id})}">-->
                    <form th:method="POST" th:action="@{/workouts/complete/{programId}/{weekId}/{id}(programId=${program.id}, weekId=${week.id}, id=${workout.id})}">
                        <div th:unless="${isCompleted}">
                            <input type="submit" name="completeWorkout" id="completeWorkout" class="btn btn-primary" value="Complete Workout">
                        </div>
                        <div th:if="${isCompleted}">
                            <button type="button" class="btn btn-success" disabled>Workout Completed</button>
                        </div>
                    </form>
                </div>
                <div th:unless="${hasStarted}">
<!--                    <form th:method="POST" th:action="@{/workouts/start/{id}(id=*{id})}">-->
                    <form th:method="POST" th:action="@{/workouts/start/{programId}/{weekId}/{id}(programId=${program.id}, weekId=${week.id}, id=${workout.id})}">
                        <input type="submit" name="startWorkout" id="startWorkout" class="btn btn-success" value="Start Workout">
                    </form>
                </div>
            </div>

            <div class="mt-2">
                <span class="font-weight-bold text-primary">Likes: </span>
                <span id="likesCount" class="text-primary" th:text="${workout.likes}"></span>
            </div>

            <form id="likesForm" method="POST" th:action="@{/workouts/like/{programId}/{weekId}/{id}(programId=${program.id}, weekId=${week.id}, id=${workout.id})}">
                <button type="submit" class="btn btn-link">
                    <div th:if="${hasLiked}">
                        <i class="fa-solid fa-lg fa-thumbs-down text-primary"></i>
                    </div>
                    <div th:unless="${hasLiked}">
                        <i class="fas fa-thumbs-up fa-lg text-primary" style="cursor: pointer"></i>
                    </div>
                </button>
            </form>

            <ul class="list-group list-group-flush mt-3text-white align-items-center">
                <li class="list-group-item bg-dark text-white">
                    <span class="font-weight-bold">Level:</span>
                    <span th:text="${workout.level}">Beginner</span>
                </li>
                <li class="list-group-item bg-dark text-white">
                    <span class="font-weight-bold">Description:</span>
                    <span th:text="${workout.description}">This is a great workout for...</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body bg-dark primary">
            <h5 class="card-title primary">Exercises</h5>
            <ul class="list-group list-group-flush">
                <li th:each="exercise: ${workout.exercises}" class="list-group-item bg-dark">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1">
                            <h6 class="font-weight-bold" th:text="${exercise.getExercise().name}"></h6>
                            <span class="font-weight-bold">Sets:</span>
                            <span th:text="${exercise.sets}"></span>
                            <br>
                            <span class="font-weight-bold">Reps:</span>
                            <span th:text="${exercise.reps}"></span>
                        </div>
                        <div>
                            <iframe class="w-100" th:src="'https://www.youtube.com/embed/' + ${exercise.getExercise().getVideoUrl()}"
                                    height="100" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div th:if="*{hasStarted}">
                            <form th:method="POST" th:action="@{/workouts/{programId}/{weekId}/{workoutId}/complete/{exerciseId}(programId=${program.id}, weekId=${week.id}, workoutId=${workout.id}, exerciseId=${exercise.getId()})}">
                                <button type="submit" class="btn btn-link" th:if="${user.exerciseCompleted(exercise)}">
                                    <i class="fa-solid fa-lg fa-circle-check text-success"></i>
                                </button>
                                <button type="submit" class="btn btn-link" th:unless="${user.exerciseCompleted(exercise)}">
                                    <i class="fa-regular fa-lg fa-circle-check text-muted"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <input type="hidden" name="programId" id="programId" th:value="${program.id}">
    <input type="hidden" name="weekId" id="weekId" th:value="${week.id}">
    <input type="hidden" name="workoutId" id="workoutId" th:value="${workout.id}">
    <div class="comments my-4 bg-dark text-white" th:if="${isCompleted}">
        <h1>Comments</h1>
        <div>
            <form id="commentForm" method="POST" action="/">
                <div class="form-group">
                    <h4>Leave a comment</h4>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="postComment" value="Post Comment"/>
                </div>
            </form>
        </div>
        <div>
            <span id="commentCtnr"></span>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>

<script th:src="@{/js/comments.js}"></script>
</body>
</html>
